html {
    background-color: rgb(251, 252, 255);
    font-size: 16px;
}

body {
    margin: 0;
}

button {
    font-size: 0.75rem;
}

* {
    font-size: 0.75rem;
    font-family: "OCR A Std", "Courier New", Courier, monospace;
    -webkit-user-select: none;
}

#toolbar {
    display: flex;
    align-items: center;
    height: 150px;
    background-color: rgb(50, 101, 119);
}

#newArrayButton {
    color: white;
    background: none;
    margin-left: 20px;
    margin-right: 20px;
    border: none; 
    outline: none;
    cursor: pointer; 
}

#newArrayButton:disabled {
    color: rgb(151, 0, 0);
    cursor: auto;
}

#newArrayButton:hover:enabled {
    color: rgb(166, 167, 170);
}

#sliderlabel {
    margin-left: 20px;
    margin-right: 5px;
    display: inline;
    color: white
}

#sliderlabel:disabled {
    color: rgb(151, 0, 0);
}

#arraySize {
    -webkit-appearance: none;
    appearance: none;
    height: 7px;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    outline: none;
    cursor: pointer;
}

#arraySize:disabled {
    cursor: auto;
    background: rgb(151, 0, 0);
}

#arraySize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%; 
    background: rgb(2,43,58);
}

#algocontainer {
    display: inline-block;
    position: relative;
    height: 50px;
}

#upperrow {
    display: inline-block;
}

#lowerrow {
    position: absolute;
    bottom: 0;
    left: 35px;
}

#sortButton {
    color: white;
    background: none;
    margin-left: 20px;
    border: none;
    outline: none;
    cursor: pointer; 
    visibility: hidden;
}

#sortButton:disabled {
    color: rgb(151, 0, 0);
    cursor: auto;
}

#sortButton:hover:enabled {
    color: rgb(166, 167, 170);
}

#svg-wrapper {
    text-align: center;
}

#svg {
    position: relative;
    top: 100px;
    display: inline-block;
}

.divider {
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    height: 70%;
    width: 5px;
    /* transform: rotate(-5deg); */
    background-color: rgb(2,43,58);
}

.gray {
    fill: rgb(150, 145, 143);
}

.red {
    fill: rgb(187, 29, 29)
}

.lightblue {
    fill: rgb(31, 122, 140)
}

.green {
    fill: rgb(103, 192, 106)
}

.yellow {
    fill: rgb(252, 225, 86);
}

.algoButton {
    color: white;
    background: none;
    border: none;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.algoButton:hover {
    color: rgb(166, 167, 170);
}

.selectedAlgoButton {
    color: rgb(103, 192, 106);
    background: none;
    border: none;
    outline: none;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}